/* -------- RESET -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------- LIGHT STYLES -------- */
:root {
    /* color */
    --bg_color: #fbfbfe;
    --main_color: #3e9aef;
    --title_color: #2a3b47;
    --content_color: #697477;
    --container_color: #ffffff;
    --border_color: #a0a7ac;
    
    /* font size */
    --title_size: 18px;
    --general_size: 12px;

    /* font weight */
    --semibold: 600;
    --medium: 500;
}
/* -------- DARK STYLES -------- */
#dark {
    /* color */
    --bg_color: #192229;
    --main_color: #52a5e0;
    --title_color: #eef3f5;
    --content_color: #c8cdd0;
    --container_color: #212e36;
    --border_color: #2a3b47;
}

/* -------- HTML & BODY -------- */
html {
    background-color: var(--bg_color);
    transition: 0.3s;
}
body {
    font-family: 'Inter', sans-serif;
    width: 360px;
    margin: 32px auto;
}

/* -------- BUTTON -------- */
#buttonContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 30px;
}
#buttonContainer_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: 0.3s;
}
#dark #buttonContainer_btn {
    transform: translateX(100%);
    transition: 0.3s;
}
/* background */
#buttonBackground {
    display: flex;
    align-items: center;
    width: 56px;
    height: 28px;
    border: solid var(--border_color) 0.8px;
    background-color: var(--container_color);
    border-radius: 50px;
}
#dark #buttonBackground {
    background-color: var(--main_color); /* change background color when dark mode is on */
}
/* icon */
#buttonIcon {
    margin-left: 1px;
}
#dark #buttonIcon {
    margin-left: 2px;
}
#buttonIcon rect {
    fill: var(--main_color);
}


/* -------- HEADER -------- */
#header, #headerProfile, #header_titles, #headerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
#header {
    width: 100%;
    padding: 14px 30px;
    gap: 16px;
}
/* profile */
#headerProfile {
    gap: 16px;
}
#header_img {
    border-radius: 50px;
}
#header_titles {
    gap: 4px;
}
#header_name {
    font-size: var(--title_size);
    font-weight: var(--semibold);
    color: var(--title_color);
}
#header_major {
    font-size: var(--general_size);
    font-weight: var(--medium);
    color: var(--content_color);
}
/* info */
#headerInfo {
    gap: 6px;
    color: var(--content_color);
}
#header_currentStatus, #header_stateCountry {
    font-size: var(--general_size);
    font-weight: var(--medium);
}
#header_location /*, #header_skills */ {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header_location {
    gap: 4px;
}
#header_mapIcon rect {
    fill: none;
}
#header_mapIcon path {
    stroke: var(--content_color);
}
/* i decided to skip the skills list because i founded it currently unnecesary */
/* #header_skills {
    list-style: none;
    gap: 6px;
    margin-top: 4px;
}
.header_skillsItem {
    display: flex;
} */

/* -------- MAIN -------- */
#main, #main_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main {
    width: 100%;
    padding: 14px 30px 24px 30px;
    gap: 24px;
}
/* list */
#main_list {
    list-style: none;
    gap: 18px;
}
.main_listIcon path {
    stroke: var(--title_color);
}
#main_linkedinIcon path {
    fill: var(--title_color);
}
#main_linkedinIcon rect {
    stroke: var(--title_color);
}
.main_listItem {
    border: solid 0.8px var(--border_color);
    border-radius: 12px;
    padding: 14px;
    background-color: var(--container_color);
}
.main_listLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    text-decoration: none;
}
.main_listTitles_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4px;
}
.main_listTitle {
    font-size: var(--general_size);
    font-weight: var(--semibold);
    color: var(--title_color);
}
.main_listSubTitle {
    font-size: var(--general_size);
    font-weight: var(--medium);
    color: var(--content_color);
}
/* email link */
#main_emailLink {
    background-color: var(--main_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 0;
    text-decoration: none;
    border-radius: 50px;
}
#emailLink_icon path {
    stroke: var(--bg_color);
}
#emailLink_title {
    font-size: var(--general_size);
    font-weight: var(--semibold);
    color: var(--bg_color);
}

/* -------- FOOTER -------- */
#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px 0;
}
/* social media list */
#socialMedia_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    list-style: none;
}
.socialMedia_icon path {
    fill: var(--main_color);
}
/* credits */
#footer_credits {
    font-size: var(--general_size);
    font-weight: var(--semibold);
    color: var(--title_color);
}